@import 'variables';
@import 'normalize';

html, body { height:100%; }
body { background:$page-background; font-family:'PT Serif', serif; }

#header {
	color:$anti-color;
	background:$header-background;

	h1 { margin:0; color:#1fc0d7; }
	#contact { margin-bottom:30px; }
	ul { padding:0; list-style:none; font-size:0.8em; }
	a { border:0; }
	li { display:inline-block; margin-right:$text-padding*2; }
}

#nav {
	display:inline-block;
	border-top:1px dashed lighten($header-background, 7);
	text-transform:lowercase;

	ul { margin-bottom:0; }
}

#body {
	color:$color;
}

img {
	border:5px solid #fff;
	-webkit-box-shadow: 0px 0px 5px #333333;
	-moz-box-shadow: 0px 0px 5px #333333;
	box-shadow: 0px 0px 5px #333333;
}
img.right {
	float:right;
	margin-left:20px;
	margin-bottom:20px;
}

@media ( min-width: 850px ) {
	// full height column crap
	body { background:$header-background; }
	#header {
		float:left;
		width:30%;
		background:none;
		text-align:right;

		li { display:block; margin-right:0; }
	}
	#body-wrap { float:left; width:70%; min-height:100%; background:$page-background; }
	#body { max-width:550px; }
	// full height column crap
}

// links
a, a:hover, a:visited, a:active {
	color:inherit;
	text-decoration:none;
	border-bottom:1px dotted;
}
a:active { position:relative; top:1px; }

h1, h2, h3, h4, h5, h6 {
	margin-top:0;
	font-family:'Open Sans Condensed', sans-serif;

	a { border:0; }
}

// non-semantic
.clearfix { clear:both; }
.text-pad { padding:$text-padding; }
