@import 'variables';
@import 'normalize';

html, body { height:100%; }
body { background:$page-background; font-family:'PT Serif', serif; }

#header {
	color:$anti-color;
	background:$header-background;
	text-align:right;

	h1 { margin:0; color:#1fc0d7; }
	#contact { margin-bottom:30px; }
	ul { list-style:none; font-size:0.8em; }
	a { border:0; }
}

#nav {
	display:inline-block;
	border-top:1px dashed lighten($header-background, 7);
	text-transform:lowercase;
}

#body {
	max-width:50em;
	color:$color;
}

@media ( min-width: 850px ) {
	// full height column crap
	body { background:$header-background; }
	#header { float:left; width:30%; background:none; }
	#body-wrap { float:left; width:70%; min-height:100%; background:$page-background; }
	// full height column crap
}

// links
a, a:hover, a:visited, a:active {
	color:inherit;
	text-decoration:none;
	border-bottom:1px dotted;
}
a:active { position:relative; top:1px; }

h1, h2, h3, h4, h5, h6 {
	margin-top:0;
	font-family:'Open Sans Condensed', sans-serif;

	a { border:0; }
}

// non-semantic
.clearfix { clear:both; }
.text-pad { padding:15px; }
